// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$badge-font-size: 1px;
// $badge-min-width: 9px;
// $badge-height: 15px;
$date-picker-event-size: 5px;
$date-picker-event-margin: 5px 0px;
$progress-circular-underlay-stroke: #eeeeee;
$badge-bordered-width: 3px;