.scope {
  width: 150px;
  height: 150px;
  /* padding: 0.5em; */
  border: 2px solid rgb(255, 255, 255);
  position: absolute;
  /* top: 0; */
  /* left: 0; */
  cursor: grab;
}

.scope-span {
  position: absolute;
  left: 100%;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  bottom: 100%;
  border-radius: 4px;
  padding: 0px 4px;
  box-shadow: 1px 1px 5px #4c4c4c;
  pointer-events: none;
  transition: .3s;
  width: 17px;
  height: 17px;
  text-align: center;
  border-radius: 20px;
}

.scope-span>div {
  position: absolute;
  top: 53%;
  left: 46%;
  transform: translate(-50%, -50%);
}


.scope-span.hover {
  font-size: 18px;
  width: 25px;
  height: 25px;
  border-radius: 25px;
}

.scope-test-xy-TL {
  position: absolute;
  top: 0;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  z-index: 100;
  color: rgb(255, 255, 255);
}

.scope-test-xy-BR {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.wrapper {
  width: 100%;
  height: 180px;
  position: relative;
  border: 1px solid #aaa;
  background-color: #eee;
}

#pointA {
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: #051A1F;
  border: 0.5px solid rgb(255, 255, 255);
  /* box-shadow: 1px 1px 5px #4c4c4c; */
  cursor: pointer;
  border-radius: 20px;
  z-index: 1;
}

#pointB {
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: #051A1F;
  border: 0.5px solid rgb(255, 255, 255);
  /* box-shadow: 1px 1px 5px #4c4c4c; */
  cursor: pointer;
  border-radius: 20px;
  z-index: 1;
}

.line-span {
  position: absolute;
  bottom: 100%;
  left: 100%;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  padding: 0px 4px;
  box-shadow: 1px 1px 5px #4c4c4c;
  pointer-events: none;
  width: 17px;
  height: 17px;
  text-align: center;
  font-size: 6px;
  border-radius: 20px;
  border: 1px solid #000;
  transition: .3s;
  line-height: 1.5;
}

.line-span>div {
  position: absolute;
  top: 53%;
  left: 46%;
  transform: translate(-50%, -50%);
}

.line-span.hover {
  font-size: 18px;
  width: 25px;
  height: 25px;
  border-radius: 25px;
}

#line {
  position: absolute;
  height: 2px;
  background-color: #ffffff;
  /* border: 0.1px solid rgb(0, 0, 0); */
  /* box-shadow: 1px 1px 5px #4c4c4c; */
  transform-origin: left;
  pointer-events: none;
}

.spot {
  /* top: 295px; */
  /* left: 225px; */
  position: absolute;
  cursor: grab;
  width: 50px;
}

.spot>img {
  max-width: 100%;
}

.spot-span {
  position: absolute;
  bottom: 70%;
  left: 70%;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  padding: 0px 4px;
  box-shadow: 1px 1px 5px #4c4c4c;
  pointer-events: none;
  width: 17px;
  height: 17px;
  text-align: center;
  font-size: 6px;
  border-radius: 20px;
  border: 1px solid #000;
  transition: .3s;
  line-height: 1.5;
}

.spot-span>div {
  position: absolute;
  top: 53%;
  left: 46%;
  transform: translate(-50%, -50%);
}

.spot-span.hover {
  font-size: 18px;
  width: 25px;
  height: 25px;
  border-radius: 25px;
}

.tooltip_content {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background-color: rgb(224, 231, 120);
}

.point-hover {
  background-color: #37484C !important;
}
